* {margin:0;padding:0;box-sizing:border-box}
html,body {height:100%;overscroll-behavior-y: contain}

:root {
    --background: #10072b;
    --foreground: #FFFFFF;
    --border: #999999;
    --accent-bg: #32294b;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--background);
    color: var(--foreground);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#canvas {
    margin: 0 auto;
    display: block;
    user-select: none;
    touch-action: none;
}

.file-input {
    display: none;
}

.btn,
.input {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--accent-bg);
    color: var(--foreground);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

label {
    margin-bottom: 0.33em;
}

.input[type="color"] {
    padding: 0;
    width: 50%;
}

.input[type="checkbox"] {
    display: none;
}

.input[type="checkbox"]+label {
    margin: 0 auto;
    width: 2em;
    height: 2em;
    border-radius: 5px;
    background-color: var(--accent-bg);
    border: 1px solid var(--border);
    position: relative;
}
.input[type="checkbox"]:checked+label:before {
    content: '✔';
    position: absolute;
    left: 0.1em;
    top: -0.2em;
    font-size: 2em;
}

.group {
    margin: 0.75rem auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instructions {
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 800px) {
    .container.grid {
        grid-template-columns: 1fr;
    }
}

.group > label {
    display: block;
}

.group.energy {
    width: 90%;
    text-align: right;
}
.group.power {
    width: 90%;
    text-align: left;
}

.resizer {
    width: 100%;
}

#energy-input,
#power-input {
    width: 3rem;
    text-align: center;
}

#desc-input {
    width: 20rem;
}

.group ul>li {
    width: fit-content;
    margin: 0 auto;
}
